:root {
    --primary-color: #e2e2e2;
    --secondary-color: #eeeeee;
    --tertiary-color: #cacaca;
    --text-color: #333333;
    --pop-color: #b63862;
    --pop-color-fade: #4f2f3f;
    --opo-color: #fcedd8;
    
    /* Border Styling */
    --border-radius: 1px;
    --border: 2px solid;
  
    /* Content Space Styling */
    --space: 1px;
}
  
.dark-mode {
    --primary-color: #212121; 
    --secondary-color: #1a1a1a;
    --tertiary-color: #101010;
    --text-color: #ededed;
    --pop-color: #80cbc4;
    --pop-color-fade: #fff8e3;
}
  
body { 
    margin: 0;
    background-color: var(--primary-color); 
    color: var(--text-color); 
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px; 
    font-weight: bold;
}
 
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
	color: var(--opo-color);
	font-weight: 700;
    text-shadow:2px 2px 0px var(--pop-color), 
                3px 3px 0px var(--pop-color), 
                4px 4px 0px var(--pop-color-fade), 
                5px 5px 0px var(--pop-color-fade), 
                6px 6px 0px var(--pop-color-fade);
}

h2 {
    padding-left: 20px;
    color: var(--opo-color);
	font-weight: 700;
    text-shadow:2px 2px 0px var(--pop-color), 
                3px 3px 0px var(--pop-color-fade), 
                4px 4px 0px var(--pop-color-fade)
}
  
/* Mobile: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: var(--space);
}
  
/* Full width: */
@media only screen and (min-width: 800px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 60%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
    h1 { font-size: 60px; }
}
  
.row {
    margin-top: var(--space);
    padding-right: var(--space);
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* BUTTONS */
.button {
    padding: 60px;
    outline: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--secondary-color);
    user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--border) var(--primary-color);
    text-align: center;
}
  
.button:hover {
    background-color: var(--pop-color);
    color: var(--opo-color);
    border: var(--border) var(--pop-color-fade);
}