:root {
    --primary-color: #e2e2e2;
    --secondary-color: #eeeeee;
    --tertiary-color: #cacaca;
    --text-color: #333333;
    --pop-color-1: #3899b1;
    --pop-color-2: #a04274;
    
    /* Border Styling */
    --border-radius: 8px;
    --border: 4px solid;
  
    /* Content Space Styling */
    --space: 2px;
}
  
body { 
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: var(--primary-color); 
    color: var(--text-color); 
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
 
* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
	color: var(--text-color);
	font-weight: 700;
}

h2 {
    padding-top: 5px;
    padding-left: 20px;
    color: var(--text-color);
	font-weight: 700;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 0%;
}

.headingImage {
    max-height: 70px;
    max-width: 70px;
    border-radius: 50%;
}

i {
    font-size: 20px;
    padding: 5px;
}

/* BUTTONS */
.button {
    outline: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--secondary-color);
    user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: var(--border) var(--primary-color);
    word-wrap: break-word;
    padding: 20px;
    min-height: 80px;
    max-height: 80px;
}
  
.button-1:hover {
    background-color: var(--pop-color-1);
    color: var(--primary-color);
    border: var(--border) var(--pop-color-1);
}

.button-2:hover {
    background-color: var(--pop-color-2);
    color: var(--primary-color);
    border: var(--border) var(--pop-color-2);
}

/* Mobile: */
[class*="col-"] {
    width: 100%;
    float: left;
}
  
/* Full width: */
@media only screen and (min-width: 800px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 60%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }

    body {
        margin: 0;
    }

    h1 { font-size: 60px; }

    .button {
        min-height: 140px;
        max-height: 140px;
    }

    i {
        font-size: 40px;
        float: right;
        padding-right: 0px;
    }

    .headingImage {
        max-height: 120px;
        max-width: 120px;
    }
}
  
.row {
    margin-top: var(--space);
    padding-right: var(--space);
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
